/OpportunityHub/.env
/staticfiles
.idea/
OpportunityHub/blog/__pycache__/
OpportunityHub/accounts/__pycache__/
OpportunityHub/main/__pycache__/
OpportunityHub/jobs/__pycache__/
OpportunityHub/candidates/__pycache__/
OpportunityHub/core/__pycache__/
OpportunityHub/company/__pycache__/
OpportunityHub/blog/__pycache__/
static/
media/
OpportunityHub/company/migrations/__pycache__/
OpportunityHub/jobs/migrations/__pycache__/
OpportunityHub/main/migrations/__pycache__/
OpportunityHub/candidates/migrations/__pycache__/
OpportunityHub/blog/api/__pycache__/
OpportunityHub/notifications/__pycache__/
OpportunityHub/notifications/migrations/__pycache__/
OpportunityHub/__pycache__/
OpportunityHub/blog/migrations/__pycache__/
OpportunityHub/accounts/migrations/__pycache__/
OpportunityHub/notifications/templatetags/__pycache__/
